---
import Card from "../components/BoardingCard.astro";
---

<section class="bg-Orange-100 pt-6xl pb-8xl">
  <article>
    <h1
      class="sm:flex flex-grow justify-center text-3xl pl-2xl text-center lg:flex flex-grow justify-center text-display-h5 text-Grey-950 font-display pt-5xl pb-2xl sm:text-2xl"
    >
      VÆLG DIT EVENTYR
    </h1>
  </article>
  <div class="pl-32 pb-3xl">
    <Card
      rejsenavn="NEW YORK, CARIBIEN, HAWAII & MEXICO"
      rejsetext="Vi tager dig med til tre enestaaende lande paa en\
            eventyrlig hoejskolerejse, der giver dig masser af natur- og\
            adventure oplevelser og spaendende kulturmoeder..."
      faapladser="true"
      venteliste="false"
      varighed="3 MÅNEDER"
      dato="CA. 09. JAN 2025"
      pris="58.900 DKK"
      cardimgBg="CHM.png"
      imgBgHover="CHM_hover.png"
    />
  </div>
  <div class="pl-40 pb-3xl">
    <Card
      rejsenavn="INDIEN, NEPAL, THAILAND, VIETNAM & SIR LANKA"
      rejsetext="Glaed jer til et fantastisk hoejskole-eventyr, naar vi rejser \
            gennem nogle af de mest spaendende lande og kulturer i Asien..."
      faapladser="true"
      venteliste="false"
      varighed="3 MÅNEDER"
      dato="11. FEB 2025"
      pris="61.500 DKK"
      cardimgBg="INTVS.png"
      imgBgHover="INTVS_hover.png"
    />
  </div>
  <div class="pl-20 pb-3xl">
    <Card
      rejsenavn="COSTA RICO, COLOMBIA & MEXICO"
      rejsetext="Vi tager dig med til tre enestaaende lande paa en\
            eventyrlig hoejskolerejse, der giver dig masser af natur- og\
            adventure oplevelser og spaendende kulturmoeder..."
      faapladser="true"
      venteliste="false"
      varighed="3 MÅNEDER"
      dato="CA. 09. JAN 2025"
      pris="58.900 DKK"
      cardimgBg="CMC.png"
      imgBgHover="CMC_hover.png"
    />
  </div>
  <div class="pl-24 pb-3xl">
    <Card
      rejsenavn="AUSTRALIEN, NZ, BALI & GILI ISLANDS"
      rejsetext="Tag med på hoejskole i udlandet og et fantastisk rejseeventyr til\
           hvor oplevelserne staar i koe, og du maerker livet naar det er sjovest..."
      faapladser="true"
      venteliste="false"
      varighed="3 MÅNEDER"
      dato="CA. 10. JAN 2025"
      pris="64.900 DKK"
      cardimgBg="CHM.png"
      imgBgHover="ANZBG_hover.png"
    />
  </div>
  <div class="pl-40 pb-3xl">
    <Card
      rejsenavn="HAWAII, AUSTRALIEN, JAPAN, BALI & GILI ISLANDS"
      rejsetext="Tag med paa den vildeste once-in-a-lifetime jordomrejse og  \
            fyld rygsaekken med oplevelser for livet, i nogle af klodens..."
      faapladser="true"
      venteliste="false"
      varighed="3 MÅNEDER"
      dato="22. JAN 2025"
      pris="84.500 DKK"
      cardimgBg="INTVS.png"
      imgBgHover="HAJBG_hover.png"
    />
  </div>

  <div class="pl-40 pb-3xl">
    <Card
      rejsenavn="BRAZILIEN, BOLIVIA, COLOMBIA, ECUADOR, PERU & ARGENTINA"
      rejsetext="Vores hoejskoleophold i Sydamerika er et vaskeaegte episk\
            latinamerikansk eventyr! Vi tager paa rundrejse i Colombia..."
      faapladser="false"
      venteliste="true"
      varighed="3 MÅNEDER"
      dato="CA. 05. FEB 2025"
      pris="74.900 DKK"
      cardimgBg="CHM.png"
      imgBgHover="BBCEPA_hover.png"
    />
  </div>
  <div class="pl-18 pb-3xl">
    <Card
      rejsenavn="BALI, LOMBOK & GILI ISLANDS"
      rejsetext="Vi tager dig med til tre enestaaende lande på en\
            eventyrlig hoejskolerejse, der giver dig masser af natur- og\
            adventure oplevelser og spaendende kulturmoeder..."
      faapladser="false"
      venteliste="false"
      varighed="4 UGER"
      dato="29. JUNI 2025"
      pris="28.900 DKK"
      cardimgBg="CMC.png"
      imgBgHover="MSG_hover.png"
    />
  </div>
  <div class="pl-24 pb-3xl">
    <Card
      rejsenavn="AUSTRALIEN, JAPAN, BALI & GILI ISLANDS"
      rejsetext="Tag med på dit livs eventyr, paa vores fantastiske 2 maaneders \
            hoejskoleophold i Australien og Asien. Og glaed dig til at blive..."
      faapladser="true"
      venteliste="false"
      varighed="2 MÅNEDER"
      dato="05. MAR 2025"
      pris="54.900 DKK"
      cardimgBg="INTVS.png"
      imgBgHover="AJBG_hover.png"
    />
  </div>
</section>
