---
import Card from "../components/BoardingCard.astro";
---

<section class="bg-Orange-100">
  <article>
    <h1
      class="sm:flex flex-grow justify-center text-3xl pl-2xl text-center lg:flex flex-grow justify-center text-display-h5 text-Grey-950 font-display pt-5xl pb-2xl sm:text-2xl"
    >
      VÆLG DIT EVENTYR
    </h1>
  </article>
  <div class="flex items-center justify-center min-h-screen pl-32">
    <Card
      rejsenavn="New York, Caribien, Hawaii & Mexico"
      rejsetext="Vi tager dig med til tre enestående lande på en\
            eventyrlig højskolerejse, der giver dig masser af natur- og\
            adventure oplevelser og spændende kulturmøder..."
      faapladser="true"
      venteliste="false"
      varighed="3 MÅNEDER"
      dato="CA. 09. JAN 2025"
      pris="58.900 DKK"
      cardimgBg="CHM.png"
      imgBgHover="CHM_hover.png"
    />
  </div>
</section>
