---
import Cards from "../components/Cards.astro";
---

<section>
  <h1
    class="flex flex-grow justify-center text-display-h5 text-Grey-950 font-display"
  >
    ER DU KLAR TIL DIT LIVS EVENTYR?
  </h1>
  <Cards />
</section>
