---
import Cards from "../components/Cards.astro";
---

<section>
  <h1
    class="sm:flex flex-grow justify-center text-3xl pl-3 lg:flex flex-grow justify-center text-display-h5 text-Grey-950 font-display pt-5xl"
  >
    ER DU KLAR TIL DIT LIVS EVENTYR?
  </h1>

  <Cards
    cardimage="cards/HCM_img.png"
    cardimagealt="Hip-hoppere"
    rejsenavn="New York, Hawaii, Caribien & Mexico"
    cardimgBg="HCM_bg.png"
    imgBgHover="HCM_bg_hover.png"
    bgColor="bg-Orange-200"
    bgColorHover="bg-Orange-500"
  />
</section>
