---
import Cards from "../components/Cards.astro";
---

<section>
  <h1
    class="sm:flex flex-grow justify-center text-3xl pl-3 lg:flex flex-grow justify-center text-display-h5 text-Grey-950 font-display pt-5xl"
  >
    ER DU KLAR TIL DIT LIVS EVENTYR?
  </h1>
  <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
    <Cards
      cardimage="cards/HCM_img.png"
      cardimagealt="Fyr spiser vandmelon i solen"
      rejsenavn="New York, Hawaii, Caribien & Mexico"
      cardimgBg="HCM_bg.png"
      imgBgHover="HCM_bg_hover.png"
      bgColor="bg-Orange-200"
      bgColorHover="bg-Orange-500"
    />

    <Cards
      cardimage="cards/IN_img.png"
      cardimagealt="Bådtur"
      rejsenavn="Indien, Nepal, Thailand, Vietnam & Sir Lanka"
      cardimgBg="IN_bg.png"
      imgBgHover="IN_bg_hover.png"
      bgColor="bg-Purple-300"
      bgColorHover="bg-Purple-500"
    />

    <Cards
      cardimage="cards/CCM_img.png"
      cardimagealt="Boldspil på stranden"
      rejsenavn="Costa Rica, Mexico & Colombia"
      cardimgBg="CCM_bg.png"
      imgBgHover="CCM_bg_hover.png"
      bgColor="bg-Green-300"
      bgColorHover="bg-Green-500"
    />

    <Cards
      cardimage="cards/ANZ_img.png"
      cardimagealt="Surfdag ved havet"
      rejsenavn="Australien, New Zealand, Bali & Gili Islands"
      cardimgBg="IN_bg.png"
      imgBgHover="IN_bg_hover.png"
      bgColor="bg-Purple-300"
      bgColorHover="bg-Purple-500"
    />

    <Cards
      cardimage="cards/HA_img.png"
      cardimagealt="Tre piger der hygger sig i naturen"
      rejsenavn="Hawaii, Australien, Japan, Bali & Gili Islands"
      cardimgBg="CCM_bg.png"
      imgBgHover="CCM_bg_hover.png"
      bgColor="bg-Green-300"
      bgColorHover="bg-Green-500"
    />

    <Cards
      cardimage="cards/MS_img.png"
      cardimagealt="Højskolehygge på stranden"
      rejsenavn="Maldiverne, Sir Lanka, Bali & Gili Islands"
      cardimgBg="SM_bg.png"
      imgBgHover="MS_bg_hover.png"
      bgColor="bg-Orange-200"
      bgColorHover="bg-Orange-500"
    />

    <Cards
      cardimage="cards/BB_img.png"
      cardimagealt="Højskolehygge på stranden"
      rejsenavn="Brasilien, Bolivia, Colombia, Ecuador, Peru & Argentina"
      cardimgBg="BB_bg.png"
      imgBgHover="BB_bg_hover.png"
      bgColor="bg-Orange-200"
      bgColorHover="bg-Orange-500"
    />

    <Cards
      cardimage="cards/AJ_img.png"
      cardimagealt="Roadtrip med vind i håret"
      rejsenavn="Australien, Japan, Bali & Gili Islands"
      cardimgBg="AJ_bg.png"
      imgBgHover="AJ_bg_hover.png"
      bgColor="bg-Purple-300"
      bgColorHover="bg-Purple-500"
    />

    <Cards
      cardimage="cards/BLG_img.png"
      cardimagealt="Surfdag på gode bølger"
      rejsenavn="Hawaii, Australien, Japan, Bali & Gili Islands"
      cardimgBg="BLG_bg.png"
      imgBgHover="BLG_bg_hover.png"
      bgColor="bg-Green-300"
      bgColorHover="bg-Green-500"
    />
  </article>
</section>
