---
import FAQ_com from "../components/FAQ_com.astro";
---

<section
  class="bg flex flex-col items-center justify-center min-h-screen pt-8xl pb-8xl"
>
  <!-- Header -->
  <h1
    class="text-3xl sm:text-display-h5 text-Grey-950 font-display text-center mb-6"
  >
    SPØRGSMÅL & SVAR
  </h1>
  <!-- FAQ Components Container -->
  <div
    class="w-[720px] flex flex-col items-center justify-center bg-Purple-500 text-Grey-50 p-6 flex flex-col space-y-6"
  >
    <!-- First FAQ -->
    <FAQ_com title="HVOR MANGE ELEVER ER DER PÅ HVERT HOLD?">
      <p class="font-primary-book text-primary-p-sm">
        De fleste af vores højskoleophold i udlandet ender med at være fyldte og
        dermed helt udsolgte ift. pladser. Man rejser derfor oftest 30-40 elever
        sammen med en (dansk) rejseleder og 1-2 (danske) undervisere fra
        HÖJSKOLENDK. Nogle gange har vi også mindre hold afsted, og så rejser
        man afsted med 15-20 andre skønne elever. Det kan variere en smule alt
        efter hvilket ophold man vælger, årstiden man rejser i, etc. Vores
        minimum antal elever er 10 – og dét er stadig kæmpefedt og et skønt
        højskole-eventyr.
      </p>
    </FAQ_com>
    <!-- Second FAQ -->
    <FAQ_com title="HVORNÅR BØR JEG SENEST TILMELDE MIG?">
      <div class="font-primary-book text-primary-p-sm">
        <p>
          Vi anbefaler at man tilmelder sig, lige så snart man er afklaret og
          har besluttet sig for, at man vil med os på højskole-eventyr. Der er
          meget stor interesse for vores højskoleophold i udlandet og på mange
          af vores rejser må vi melde udsolgt 5-6 måneder før afrejse – og nogle
          gange et helt år før afrejse.
        </p>
        <br />
        <p>
          Vi afholder desuden afrejsemøde, for hele holdet der skal afsted, ca.
          5-6 uger før afrejse. Her møder man alle de andre elever, rejseleder
          og undervisere og det er en rigtig hyggelig og spændende dag, som er
          vigtig at være med på.
        </p>
        <br />
        <p>
          Så er du afklaret og vil med på højskoleeventyr, skal du absolut ikke
          vente for længe med din tilmelding.
        </p>
      </div>
    </FAQ_com>
    <FAQ_com title="HVORDAN ER KØNSFORDELINGEN?">
      <p class="font-primary-book text-primary-p-sm">
        De fleste af vores højskoleophold i udlandet ender med at være fyldte og
        dermed helt udsolgte ift. pladser. Man rejser derfor oftest 30-40 elever
        sammen med en (dansk) rejseleder og 1-2 (danske) undervisere fra
        HÖJSKOLENDK. Nogle gange har vi også mindre hold afsted, og så rejser
        man afsted med 15-20 andre skønne elever. Det kan variere en smule alt
        efter hvilket ophold man vælger, årstiden man rejser i, etc. Vores
        minimum antal elever er 10 – og dét er stadig kæmpefedt og et skønt
        højskole-eventyr.
      </p>
    </FAQ_com>
    <FAQ_com title="HVORDAN ER MIN SIKKERHED?">
      <div class="font-primary-book text-primary-p-sm">
        <p>
          Hvis du følger rejselederens gode råd kan du være tryg, når du rejser
          ud i verden med HÖJSKOLENDK.
        </p>
        <br />
        <p>
          Der findes (som alle andre steder) også kriminalitet, tyveknægte og
          banditter i de lande vi besøger, men bruger du din sunde fornuft og
          tænker dig om, kan du være ganske tryg. Gem dine penge et sikkert
          sted, vær opmærksom og brug almindelig sund fornuft. Passer man ikke
          på sine ting, kan de selvfølgelig forsvinde.
        </p>
      </div>
    </FAQ_com>
    <FAQ_com title="HVOR MEGET SKAL JEG PAKKE?">
      <div class="font-primary-book text-primary-p-sm">
        <p>
          De fleste plejer at pakke en smule for meget, da der ofte bliver
          shoppet – nogle gange en del – undervejs. Det kan ende med, at man må
          smide lidt tøj ud, man havde med hjemmefra, som der pludselig ikke er
          plads til i tasken mere. Så hvis du elsker at shoppe, kunne du
          overveje en lille smule større rygsæk/duffelbag.
        </p>
        <br />
        <p>
          Du får selvfølgelig forslag og eksempel på pakkeliste på afrejsemødet,
          og kan spørge om alt du er nysgerrig på, så du kan få pakket så godt
          som muligt til dit eventyr.
        </p>
      </div>
    </FAQ_com>
  </div>
</section>

<style>
  .bg {
    background-image: url(/FAQ_bg.png);
    background-size: cover;
    background-position: center;
  }
</style>
