---
const { title } = Astro.props;
---

<section class="container">
  <details class="font-display text-Grey-50 text-xl">
    <summary>{title}</summary>
    <article>
      <slot />
    </article>
  </details>
</section>

<style>
  .container h1 {
    color: #fff;
    text-align: center;
  }

  details {
    border-bottom: #fff solid 2px;
    color: #fff;
    font-size: 1.5rem;
  }

  summary {
    padding: 0.5em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    content: "\002B";
  }

  details[open] summary {
    border-bottom: 1px solid #fff;
    margin-bottom: 0.5em;
  }

  details[open] summary:after {
    content: "\00D7";
  }

  details[open] div {
    padding: 0.5em 1em;
  }
</style>
