---
const { title } = Astro.props;
---

<section>
  <details class="font-display text-Grey-50 text-xl">
    <summary>{title}</summary>
    <article>
      <slot />
    </article>
  </details>
</section>

<style>
  details,
  summary {
    max-width: 500px;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }
  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;
    margin: 0;
    padding: 1rem;
    color: #fff; /* Text color for titles */
    border-bottom: 1px solid #fff; /* Separator line */
    font-weight: bold;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }

  article {
    padding: 0.5rem;
  }

  /* Arrow icon */
  summary::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0.5rem solid #fff;
    border-inline: 0.5rem solid transparent;
    transition: transform 0.3s ease;
  }
  details[open] > summary::after {
    transform: rotate(-180deg);
  }
</style>
