---

---

<footer class="bg-Orange-500 text-Grey-50 py-20">
  <div
    class="container mx-auto px-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6"
  >
    <!-- Column 1 -->
    <div>
      <h1 class="text-xl font-display mb-4">HÖJSKOLENDK</h1>
      <p class="text-sm">
        Rosenørns Allé 29<br />
        1970 Frederiksberg<br />
        Danmark
      </p>
      <p class="text-sm">CVR 32491162</p>
    </div>

    <!-- Column 2 -->
    <div>
      <h1 class="text-xl font-display mb-4">FØLG OS</h1>
      <p class="text-sm">
        Facebook<br />
        Instagram<br />
        LinkedIn<br />
        TikTok
      </p>
    </div>

    <!-- Column 3 -->
    <div>
      <h1 class="text-xl font-display mb-4">KONTAKT</h1>
      <p class="text-sm">
        Telefon / Man-Fre 10-16 <br />70 27 90 07<br />
      </p>
      <p class="text-sm">
        Mail:<br />info@hojskolendk.dk<br />
      </p>
      <!-- Messenger Button -->
      <button
        class="mt-4 px-6 py-2 text-Orange-500 bg-Grey-50 hover:bg-Orange-600 hover:text-white transition font-display"
      >
        MESSENGER
      </button>
    </div>

    <!-- Column 4 -->
    <div>
      <h1 class="text-xl font-display mb-4">SAMARBEJDSPARTNERE</h1>
      <p class="text-sm">Jysk Rejsebureau</p>
      <p class="text-sm">Gouda</p>
      <p class="text-sm">Rejsegarantifonden</p>
      <p class="text-sm">CO2 Neutral Website</p>
    </div>
  </div>
</footer>
