---
import Link from "../components/Link.astro";
---

<div
  x-data="{ showmenu: false }"
  x-init="
    let lastScroll = 0;
    window.addEventListener('scroll', () => {
      const currentScroll = window.pageYOffset || document.documentElement.scrollTop;
      showHeader = currentScroll > 100 && currentScroll > lastScroll;
      lastScroll = currentScroll <= 0 ? 0 : currentScroll;
    });
  "
  :class="{ 'translate-y-0': showHeader, '-translate-y-full': !showHeader }"
  class="fixed top-0 left-0 w-full bg-Grey-50 text-Grey-50 shadow-lg z-50 transition-transform duration-300 pt-2xs pb-2xs"
>
  <div id="navbar" class="flex items-center justify-between px-md">
    <!-- Logo -->
    <div
      id="logo"
      class="text-primary-p-lg font-display text-Grey-950 lg:hidden"
    >
      <Link href="/">HÖJSKOLENDK</Link>
    </div>

    <!-- Desktop Menu -->
    <nav
      id="desktopmenu"
      class="hidden lg:flex flex-grow items-center justify-between font-primary-book text-Grey-950 font-primary-h2"
    >
      <!-- Left Menu -->
      <ul class="flex flex-row gap-4">
        <li><Link href="/destinationer">Destinationer</Link></li>
        <li><Link href="/">Tilmeld</Link></li>
      </ul>

      <!-- Centered Logo (Desktop Only) -->
      <div
        id="center-logo"
        class="text-primary-p-lg font-display text-Grey-950 hidden lg:block"
      >
        <a href="/">HÖJSKOLENDK</a>
      </div>

      <!-- Right Menu -->
      <ul class="flex flex-row gap-4">
        <li><Link href="/">Om os</Link></li>
        <li><Link href="/">Infomoede</Link></li>
      </ul>
    </nav>

    <!-- Mobile Burger Menu -->
    <button
      id="burgermenu"
      class="lg:hidden font-primary-book text-Grey-950 font-primary-h2"
      x-on:click="showmenu = !showmenu"
    >
      MENU
    </button>
  </div>

  <!-- Mobile Menu -->
  <div id="mobilemenu" class="lg:hidden" x-show="showmenu" x-transition>
    <ul class="flex flex-col items-end gap-4 p-md text-Grey-950">
      <li><Link href="/destinationer">Destinationer</Link></li>
      <li><Link href="/">Tilmeld</Link></li>
      <li><Link href="/">Om os</Link></li>
      <li><Link href="/">Infomøde</Link></li>
    </ul>
  </div>
</div>
