---
import { Image } from "astro:assets";
import BG from "../assets/images/OrangeBG.png";
---

<section class="grid grid-cols-1 md:grid-cols-2">
  <!-- Left Column -->
  <div
    class="relative bg-Orange-500 text-Grey-50 font-display text-display-h5 flex justify-center items-center h-full w-full group p-4 sm:p-6"
  >
    <!-- Default Content -->
    <div
      class="sm:flex justify-center items-center lg:w-[720px] h-[960px] flex flex-col items-center z-10 transition-opacity duration-300 group-hover:opacity-0"
    >
      <h1 class="text-center text-lg sm:text-xl md:text-2xl lg:text-3xl">
        REJS MED HÖJSKOLENDK
      </h1>
    </div>

    <!-- Hidden Hover Content -->
    <div
      class="absolute inset-0 bg-Orange-500 text-Grey-50 font-primary-book p-4 sm:pl-lg pr-lg flex flex-col justify-start md:justify-center items-start opacity-0 transition-opacity duration-300 group-hover:opacity-100 overflow-y-auto"
      style="max-height: 100%;"
    >
      <h1
        class="font-display text-lg sm:text-xl md:text-2xl lg:text-3xl mb-4 text-left"
      >
        REJSEHØJSKOLE
      </h1>
      <p
        class="mb-4 leading-relaxed text-xs sm:text-md md:text-base lg:text-lg"
      >
        Der venter dig et unikt rejseeventyr naar du tager paa hoejskole i
        udlandet, med et staerkt sammenhold og fede rejseoplevelser. Med
        udgangspunkt i hoejskolens to grundværdier faallesskab og dannelse, kan
        du på hoejskole i udlandet bruge din sabbataar rejse paa fx frivilligt
        arbejde, vilde adventure- og naturoplevelser, laere sprog og spaendende
        personlig udvikling der giver dig mere selvtillid, selvindsigt og
        selvvaerd. Glaed dig ogsaa til inspirerende undervisning, der levende og
      </p>
      <p
        class="mb-4 leading-relaxed text-xs sm:text-sm md:text-base lg:text-lg"
      >
        Vores elever beskriver HÖJSKOLENDK som ”eventyrlige dannelsesrejser med
        noget på hjerte”. Udover det fantastiske rejseeventyr handler vores
        hoejskoleophold i udlandet om dine draemme, maal og oensker for livet.
        Paa inspirerende og aktiv vis flytter du dine graenser og bliver en
        endnu staerkere udgave af dig selv. Vi tror paa, at du kommer hjem med
        mere mod på alt hvad livet byder dig og er mere afklaret omkring hvad en
        meningsfuld fremtid er for dig.
      </p>
      <p class="leading-relaxed text-xs sm:text-sm md:text-base lg:text-lg">
        Tag på hoejskole i udlandet hvis du har du lyst til at opleve verden,
        udleve dine rejsedroemme i et skoent faellesskab, blive inspireret af
        dygtige og engagerede undervisere og faa et eventyr for livet.
      </p>
    </div>
  </div>

  <!-- Right Column -->
  <Image
    src={BG}
    alt="Fyr spiser vandmelon med orange bg"
    class="w-full h-full sm:h-full md:h-full object-cover"
  />
</section>
