---
import { Image } from "astro:assets";
import BG from "../assets/images/OrangeBG.png";
---

<section class="grid grid-cols-1 md:grid-cols-2">
  <!-- Left Column -->
  <div
    class="relative bg-Orange-500 text-Grey-50 font-display text-display-h5 flex justify-center items-center h-full w-full group p-4 sm:p-6"
  >
    <!-- Default Content -->
    <div
      class="sm:flex justify-center items-center lg:w-[720px] h-[960px] flex flex-col items-center z-10 transition-opacity duration-300 group-hover:opacity-0"
    >
      <h1 class="text-center text-lg sm:text-xl md:text-2xl lg:text-3xl">
        REJS TIL
      </h1>
      <p
        class="font-primary-book text-xs sm:text-sm md:text-base lg:text-lg text-center"
      >
        Sydney, Australien
      </p>
    </div>

    <!-- Hidden Hover Content -->
    <div
      class="text-left absolute inset-0 bg-Orange-500 text-Grey-50 font-primary-book p-4 sm:pl-lg pr-lg flex justify-center items-center md:p-6 lg:p-8 flex flex-col justify-start md:justify-center items-start opacity-0 transition-opacity duration-300 group-hover:opacity-100 overflow-y-auto"
      style="max-height: 100%;"
    >
      <h1
        class="text-left font-display text-lg sm:text-xl text-left md:text-2xl text-left lg:text-3xl mb-4 text-left"
      >
        REJSEHØJSKOLE
      </h1>
      <p
        class="mb-4 leading-relaxed text-xs sm:text-md md:text-base lg:text-lg"
      >
        Der venter dig et unikt rejseeventyr når du tager på højskole i
        udlandet, med et stærkt sammenhold og fede rejseoplevelser. Med
        udgangspunkt i højskolens to grundværdier fællesskab og dannelse, kan du
        på højskole i udlandet bruge din sabbatår rejse på fx frivilligt
        arbejde, vilde adventure- og naturoplevelser, lære sprog og spændende
        personlig udvikling der giver dig mere selvtillid, selvindsigt og
        selvværd. Glæd dig også til inspirerende undervisning, der levende og
        aktivt forener det lærende med det legende.
      </p>
      <p
        class="mb-4 leading-relaxed text-xs sm:text-sm md:text-base lg:text-lg"
      >
        Vores elever beskriver HÖJSKOLENDK som ”eventyrlige dannelsesrejser med
        noget på hjerte”. Udover det fantastiske rejseeventyr handler vores
        højskoleophold i udlandet om dine drømme, mål og ønsker for livet. På
        inspirerende og aktiv vis flytter du dine grænser og bliver en endnu
        stærkere udgave af dig selv. Vi tror på, at du kommer hjem med mere mod
        på alt hvad livet byder dig og er mere afklaret omkring hvad en
        meningsfuld fremtid er for dig.
      </p>
      <p class="leading-relaxed text-xs sm:text-sm md:text-base lg:text-lg">
        Tag på højskole i udlandet hvis du har du lyst til at opleve verden,
        udleve dine rejsedrømme i et skønt fællesskab, blive inspireret af
        dygtige og engagerede undervisere og få et eventyr for livet.
      </p>
    </div>
  </div>

  <!-- Right Column -->
  <Image
    src={BG}
    alt="Fyr spiser vandmelon med orange bg"
    class="w-full h-full sm:h-full w-full md:h-full w-full object-cover"
  />
</section>
