---

---

<section
  style="background-color: #26242e;"
  class="text-white px-12 py-20 sm:py-24 md:py-32 min-h-screen"
>
  <h1
    class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-display text-center leading-[2]"
  >
    HÖJSKOLENDK er en <span style="color: #FF5E04;">dansk højskole</span> for unge
    mellem <br /><span style="color: #FF5E04;">18-30 år.</span> Vi brænder for fællesskab,
    oplevelser og kulturmøder. Hvis du elsker
    <span style="color: #FF5E04;">højskolelivet,</span> drømmer om et <span
      style="color: #FF5E04;">rejseeventyr</span
    >, vil opleve fremmede kulturer, rejse med rygsæk og være del af et
    <span style="color: #FF5E04;"> staerkt fællesskab</span>, er vi for dig.<br
    />
    Vi sikrer en <span style="color: #FF5E04;">tryg rejse</span>, da vi er
    medlem af <br />Rejsegarantifonden.
  </h1>
</section>
